.content-box {
  padding: 5em 0;
}

.content-box .col {
  margin: auto;
}

.content-box.light,
.content-box.light .heading {
  background-color: transparent;
  color: var(--black);
}

.content-box {
  color: #fff;
  background: var(--third);
}
.content-box .heading {
  color: #fff;
}

.content-box .box-text,
.content-box .box-text .heading {
  text-align: center;
}
.content-box .box-text {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 996px) {
  .content-box .col img {
    margin-top: 2em;
  }
}
