.CallAction {
  padding: 20px 0;
  background-color: #0083da;
}
.CallAction__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CallAction__text {
  margin-left: 10px;
  color: #fff;
}

.CallAction__text h3 {
  font-size: 1.2em;
}

.CallAction__text h4 {
  font-size: 0.8em;
}
