.contact .container .row {
  padding: 50px 0;
}

.contact .col.space--large{
  padding-left: 5vw;
}
.contact input,
.contact label,
.contact textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  margin: 10px 0;
}

.contact label,
.box-address h4 {
  margin-top: 20px;
  font-weight: bold;
  color: var(--primary);
}

.contact input,
.contact textarea {
  height: 40px;
  padding: 0 10px;
}

.contact textarea {
  min-height: 250px;
  padding-top: 10px;
}

.contact .btn--large {
  width: 100%;
  margin-top: 20px;
}

.contact .btn--large:hover {
  background-color: white;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.contact .info-section{

  text-align: right;
}

.contact .box-address h4{
  font-size: 20px;
  margin-bottom: 10px;
}

.contact .box-address p{
  font-size: 18px;
}

.contact .box-address iframe{
  width: 100%;
  margin: 20px 0;
}

.contact .box-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact .box-info__content h5{
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.contact .box-info__content p {
  font-size: 18px;
  padding: 2.5px 0 ;
}

